{
  "arrowParens": "always",
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": false,
  "printWidth": 80,
  "endOfLine":"auto"
}
